<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="Index">
  <% include ../partials/header %>

  <% include ../partials/home %>

</body>
</html>

<script type="text/javascript" src="public/vendors.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js"></script>
<script type="text/javascript" src="public/scripts.js"></script>

<script>
  $(document).foundation();
</script>
